body {
  justify-self: center;
  border: solid 3px rgb(192, 192, 192);
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
}
header {
  justify-self: center;
  align-content: center;

  height: 10vh;
}

.war-box {
  height: 40vh;
  width: 40vh;
  background-color: gray;
  margin: 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(10, 1fr);

  align-self: center;
}
.war-area {
  display: flex;
  justify-content: space-around;

  /* grid-row: 1fr 1fr; */
}
main {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 30px;
  height: 30px;
  background-image: url('images/water.png');
  background-size: 30px;
  /* background-color: aqua; */
  /* margin: 1px; */
}
.cell:hover {
  background-color: rgba(255, 0, 0, 0.1);
  background-image: url('images/targ.jpg');

  background-blend-mode: multiply;
}
button {
  /* width: 30px; */
  height: 30px;
  background-color: aqua;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

button:active {
  background-color: rgba(255, 0, 0, 0.5);
}
button:disabled {
  background-color: green;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.cell-non-a {
  width: 30px;
  height: 30px;
  background-image: url('images/water.png');
  background-size: 30px;
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.cell-hit {
  width: 30px;
  height: 30px;
  background-image: url('images/hit.jpg');
  background-size: 30px;
}
.game-info {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.ship {
  width: 30px;
  height: 30px;
  background-image: url('images/ship.png');
  background-size: 30px;
  background-color: rgba(44, 173, 163, 0.153);
  background-blend-mode: multiply;
}

.ship-2-h {
  background-image: url('images/ship2.png');

  background-size: 60px;
  background-color: aqua;
  transform: rotate(90deg);
  background-color: rgba(255, 0, 0, 0.3);
  transform-origin: left;
}
.ship-2-v {
  background-image: url('images/ship2.png');

  background-size: 30px;
  background-color: rgba(255, 0, 0, 0.3);

  background-color: aqua;
  transform-origin: left;
}
.ship-3-h {
  background-image: url('images/ship3.png');
}
.ship-4-h {
  background-image: url('images/ship4.png');
}
.ship-5-h {
  background-image: url('images/ship5.png');
}
#notification {
  height: 100px;
  width: 80vw;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.notification-red {
  color: red;
}
.notification-green {
  color: green;
}
